@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeue.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
//
// @font-face {
//   font-family: "HelveticaNeueCyr";
//   src: url("../fonts/helveticaneuecyr-medium.otf") format("truetype");
//   font-weight: normal;
//   font-style: normal;
// }
//
// @font-face {
//   font-family: "HelveticaNeueCyr";
//   src: url("../fonts/helveticaneuecyr-light.otf") format("truetype");
//   font-weight: normal;
//   font-style: normal;
// }
//
// @font-face {
//   font-family: "HelveticaNeueCyr";
//   src: url("../fonts/helveticaneuecyr-bold.otf") format("truetype");
//   font-weight: normal;
//   font-style: normal;
// }
